<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci pour votre commande - Affûtage Pro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table role="presentation" class="main-table">
        <tr>
            <td class="content-cell">
                <table role="presentation" class="inner-table">
                    <!-- Header -->
                    <tr>
                        <td class="header">
                            <h1>Affûtage Pro</h1>
                        </td>
                    </tr>
                    <!-- Main Content -->
                    <tr>
                        <td class="main-content">
                            <h2>Merci pour votre commande!</h2>
                            <p>Cher <%= name %>,</p>
                            <p>Merci de nous confier l'entretien de vos skis.</p>
                            <p>Détails de votre commande:</p>
                            <table role="presentation" class="order-details">
                                <tr>
                                    <td class="order-label"><strong>Numéro de commande:</strong></td>
                                    <td class="order-value"><%= id %></td>
                                </tr>
                                <tr>
                                    <td class="order-label"><strong>Service(s):</strong></td>
                                    <td class="order-value"><%= service %></td>
                                </tr>
                            </table>
                            <!-- <a href="#">Vous pouvez voir l'état complet de votre commande ici</a> -->
                            <p>Si vous avez des questions ou souhaitez modifier votre commande, n'hésitez pas à nous contacter. Nous sommes là pour vous aider!</p>
                            <div class="cta-container">
                                <a href="mailto:admin@affutagepro.com" class="cta-button">Contactez-nous</a>
                            </div>
                          
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            <p style="margin: 5px;">Affûtage Pro</p>
                            <p style="margin: 5px;">admin@affutagepro.com</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
